## Deliverable 3. Create a Travel Itinerary Map.

In [37]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [38]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,1,Boke,GN,75.49,10.9409,-14.2967,Hôtel Rio Nunez - Boké
1,2,Rikitea,PF,76.69,-23.1203,-134.9692,People ThankYou
2,4,Galle,LK,76.62,6.0367,80.2170,Amangalla
3,8,Dalby,AU,74.10,-27.1833,151.2667,Kobbers Motor Inn Dalby
4,9,Port Macquarie,AU,71.89,-31.4333,152.9167,Rydges Port Macquarie
...,...,...,...,...,...,...,...
233,696,Kirakira,SB,81.81,-10.4544,161.9205,SanBiz Lodge
234,698,Pederneiras,BR,78.58,-22.3517,-48.7750,Hotel Trevise - Pederneiras
235,703,Kimbe,PG,88.52,-5.5502,150.1429,Kimbe Bay Hotel
236,704,Chalmette,US,73.99,29.9427,-89.9634,Marina Inn & Suites Chalmette-New Orleans
237,710,Quelimane,MZ,80.55,-17.8786,36.8883,Hotel Flamingo

In [39]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [40]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Baton Rouge']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Baton Rouge']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'San Patricio']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Laureles'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Lake Havasu City']

In [42]:
#  6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [43]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,36,Baton Rouge,US,73.85,30.4508,-91.1545,Hilton Baton Rouge Capitol Center
1,364,San Patricio,US,79.48,28.0170,-97.5169,"Motel 6 Sinton, TX"
2,644,Laureles,US,78.84,26.1092,-97.4941,Los Fresnos Inn
3,523,Lake Havasu City,US,79.41,34.4839,-114.3224,Heat Hotel

In [45]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [46]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))